<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
   <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>cn.itcast.travel.web.servlet.LoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>RegistUserServlet</servlet-name>
        <servlet-class>cn.itcast.travel.web.servlet.RegistUserServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RegistUserServlet</servlet-name>
        <url-pattern>/RegistUserServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CheckCodeServlet</servlet-name>
        <servlet-class>cn.itcast.travel.web.servlet.CheckCodeServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CheckCodeServlet</servlet-name>
        <url-pattern>/CheckCodeServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BaseServlet</servlet-name>
        <servlet-class>cn.itcast.travel.web.servlet.BaseServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>BaseServlet</servlet-name>
        <url-pattern>/BaseServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ActiveUserServlet</servlet-name>
        <servlet-class>cn.itcast.travel.web.servlet.ActiveUserServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ActiveUserServlet</servlet-name>
        <url-pattern>/ActiveUserServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>cn.itcast.travel.web.servlet.UserServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/UserServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ExitServlet</servlet-name>
        <servlet-class>cn.itcast.travel.web.servlet.ExitServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ExitServlet</servlet-name>
        <url-pattern>/ExitServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CategoryServlet</servlet-name>
        <servlet-class>cn.itcast.travel.web.servlet.CategoryServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CategoryServlet</servlet-name>
        <url-pattern>/CategoryServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FindUserServlet</servlet-name>
        <servlet-class>cn.itcast.travel.web.servlet.FindUserServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>FindUserServlet</servlet-name>
        <url-pattern>/FindUserServlet</url-pattern>
    </servlet-mapping>


    <filter>
        <filter-name>CharchaterFilter</filter-name>
        <filter-class>cn.itcast.travel.web.filter.CharchaterFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>CharchaterFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <url-pattern>*.css</url-pattern>
        <url-pattern>/.js</url-pattern>
    </filter-mapping>



</web-app>
